/*Box Sizing*/
/*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/

*{
    /*box-sizing: border-box;*/ /*can do That ?*/
    border: 0px;
    padding: 0px;
}
/*General  Asides*/
.aside1,.aside2,
.aside3,.aside4,
.aside5, .aside6,
.aside7,.aside8,
.aside9 {
    width: 200px;
    height: 200px;
    
}

/*room 1*/
.aside1{
    background-color:orange;
    padding: 20px;
 /*   box-sizing: border-box;    *//*Not Loop*/
}
.aside2{
    background-color: grey;
}
.aside3{
    background-color: brown;
}

/*room 2*/
.container1{
    position: absolute;
    right: 0px;
    top: 1%;
}

.aside4{
    background-color: blue;
    padding: 50px;
}
.aside5{
    background-color: red;
    
    /*margin: 5em;*/ /*What This?*/
}
.aside6{
    background-color: orange;
}

/*room 3*/
.container2{
    position: absolute;
    right: 45%;
    top: 1%;
}
  
.aside7{
    background-color: gray;
}
.aside8{
    background-color: blue;
}
.aside9{
    background-color: green;
    padding: 30PX;
}